export JAVA_HOME=/usr/java/jdk1.{{ oracle_java_version }}.0_{{ oracle_java_version_update }}
export PATH=/hadoop/spark/bin:$PATH
export SPARK_HOME=/hadoop/spark
export SPARK_DIST_CLASSPATH=$(hadoop classpath):/hadoop/hive/lib/mysql-connector-java.jar
